ul{
    list-style: none;
    text-align: center;
}
a{
    text-decoration: none;
    color:rgb(231, 97, 7);
}
header{
    text-align: center;
}
.thala{
    
    /* display: inline;
    background: rgb(221, 180, 192); */
    text-align: center;    
    color: gold;
    font-size: 50px;
}
/* .list{
    padding: 10px;
    margin: 10px;
    display: flex;
    text-align: center;
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    justify-content: center;
    margin-top: 60px;
} */

.list2{
    border-left:1px solid gray;
    border-right: 1px solid gray;
    padding-left: 15px;
    padding-right: 15px

}