<section class="design">
    <div class="container">
      <div class="row">
       <div class="icon">

          <div class="one">
                  <div class="fb"> 
                      <h3> <i class="fa fa-facebook" aria-hidden="true"></i> </h3> 
                  </div>
            
                  <div class="content">
                    <h3>facebook</h3>
                    <p>Connect with friends, family and other people you know.</p>
                  </div>
          </div>

          <div class="two">      
                  <div class="fb"> 
                      <h3> <i class="fa fa-instagram" aria-hidden="true"></i> </h3> 
                  </div>
            
                  <div class="content">                      
                              <h3>instagram</h3>
                              <p>A simple, fun & creative way to capture, edit & share photos, videos & messages with friends & family</p>
                  </div>
          </div>
 
          <div class="three">    
                  <div class="fb"> 
                      <h3> <i class="fa fa-whatsapp" aria-hidden="true"></i> </h3> 
                  </div>
           
                  <div class="content">                     
                        <h3>whatsapp</h3>
                        <p>you'll get fast, simple, secure messaging and calling for free*, available on phones all over the world.</p>                      
                  </div>
          </div>    
          
          
        </div>
      </div>
    </div>
</section>