.fm0 {
    text-align: center   ;
    color: antiquewhite;
}

.box0 {
    
    padding: 5px;
}

.log0 {
    margin-bottom: 15px
    
}

.forgt0 {
    background-color: rgb(240, 188, 46)
}

.l-bt0 {
    
    padding: 10px 
}