
body {
            background-image: url(D:\angular\ecom\src\assets\Galaxy.jpg);
            background-position: center center;
			background-repeat:  no-repeat;
			background-attachment: fixed;
            background-size:  cover;
            margin: 0;
            padding: 0;
            font-family: exo, sans-serif;
            
}