<div class="container">
    <h1>Link your social media</h1>
    <ul class="icon">
        <li><i class="fa fa-facebook" aria-hidden="true">     </i></li>
        <li><i class="fa fa-instagram" aria-hidden="true">   </i></li>
        <li><i class="fa fa-twitch" aria-hidden="true">      </i></li>
        <li><i class="fa fa-whatsapp" aria-hidden="true">    </i></li>
        <li><i class="fa fa-wikipedia-w" aria-hidden="true"> </i></li>
    </ul>
    
    <ul class="social">
        <li class="list2">  <a href="#">facebook  </a> </li>
        <li class="list2">  <a href="#">instagram </a> </li>
        <li class="list2">  <a href="#">twitch    </a> </li>
        <li class="list2">  <a href="#">whatsapp  </a> </li>
        <li class="list2">  <a href="#">wikipedia </a> </li>
    </ul>
    
        
</div>
