li {
    display:inline;
    padding: 20px;
}
a,h1 {
    color: goldenrod;
    text-decoration: none;
    font-size: 40px;
}
.social {
    display: inline;
    align-items: stretch;
    justify-content: space-between;
    
}
.icon {
    font-size: 70px;
    color: goldenrod;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
}
h1{
    text-align: center;
}